.section-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);

  @include desktop-1200 {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }

  @media screen and (max-width: 479px) {
    font-size: 5.8vw;
  }
}

.section-padding {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-bg {
  background-color: var(--secondary-bg-color);
}
